<div id="home-page-header-container">
    <a id="main-home-link" class="main-nav-link" href="/home">Namai</a>
    <a id="main-return-link" class="main-nav-link" href="/activeReturns">Grąžinimai</a>
    <a id="main-merch-cards-link" class="main-nav-link" href="/merchCards">Prekių kortelės</a>
</div>