<div id="menu-panel-header-container">Meniu</div>
<div id="menu-panel-content-container">
    <button id="active-returns" class="add-new-item-button">Nauji grąžinimai</button>
    <button id="awaiting-export" class="add-new-item-button">Laukiantys išvežimo</button>   
    <button id="awaiting-return" class="add-new-item-button">Laukiantys perkėlimo</button>
    <button id="completed-returns" class="add-new-item-button">Užbaigti</button>                  
    <button id="add-new-item-button" class="add-new-item-button">Pridėti prekę</button>
</div>