<div id="user-panel-container">
    <%- include("../partials/userPanel.ejs"); %>
    <%- include("../partials/returnMenu.ejs"); %>
    <% if(user.webAcces == "1") { %><%- include("../partials/adminMenu.ejs"); %> <%} %>
</div>