:root{
    --primary: #191919;
    --secondary: #2D4263;
    --contrast: #C84B31;
    --compliment: #ECDBBA;
}
*{
    font-family: sans-serif;
    
}
body {
    display:flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#log-in-container{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: solid var(--primary) 1px;
}
#log-in-form-title-container{
    text-align: center;
    margin-top:30px;
    margin-bottom:15px;
    width: 100%;
}
#log-in-form-container{
    width: 100%;
    text-align: center;
    margin-top:25px;
}

#log-in-id-container{
    width:100%;
    margin-bottom: 10px;
}
#log-in-id{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    padding-left:10px;
    border: solid var(--primary) 1px;
}   
#log-in-psw-container{
    width:100%;
}
#log-in-psw{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    padding-left:10px;
    border: solid var(--primary) 1px;
}
#log-in-button-container{
    width: 100px;
    margin:auto;
    margin-top:10px;
}
#log-in-button{
    width: 100%;
    background-color: var(--primary);
}

#registration-link{
    text-decoration: none;
    color:#191919;
    font-size: 0.8rem;
}


#registration-link:hover{
    text-decoration: underline;
}

#log-in-link{
    text-decoration: none;
    color:#191919;
    font-size: 0.8rem;
}

#log-in-link:hover{
    text-decoration: underline;
}
#register-button-container{
    width: 110px;
    margin:auto;
    margin-top:10px;
}
#register-button{
    width: 100%;
    background-color: var(--primary);
}
/* ========================================== */
#register-container{
    width: 400px;
    height: 470px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: solid var(--primary) 1px;
}
#register-form-title-container{
    text-align: center;
    margin-top:30px;
    margin-bottom:15px;
    width: 100%;
}

#register-form-container{
    width: 100%;
    text-align: center;
    margin-top:25px;
}

.register-field-container{
    width:100%;
    margin-bottom: 10px;
}
.register-field{
    border-radius: 5px;
    width: 250px;
    height: 35px;
    padding-left:10px;
    border: solid var(--primary) 1px;
}   
#store-input-container{
    width: 250px;
    margin: auto;
    text-align:left;
    color: var(--primary);
    padding-left: 3px;
    margin-bottom: 20px;
}
#store-input-container > label{
    width: 80px;
}
#store-input-container > select{
    width: 160px;
    height: 35px;
}