:root{
    --primary: #191919;
    --secondary: #2d4263;
    --contrast: #C84B31;
    --compliment: #ecdbba;
    --border-radius: 5px;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*{
    font-family: sans-serif;
    cursor:default;
}
#artificial-body{
    display:flex;
    justify-content: center;
    height: 100vh;
    width:100%;
    align-items: center;
}
#log-in-container{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: solid var(--primary) 1px;
}
#log-in-form-title-container{
    text-align: center;
    margin-top:30px;
    margin-bottom:15px;
    width: 100%;
}
#log-in-form-container{
    width: 100%;
    text-align: center;
    margin-top:25px;
}
#log-in-id-container{
    width:100%;
    margin-bottom: 10px;
}
#log-in-id{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    padding-left:10px;
    border: solid var(--primary) 1px;
}   
#log-in-psw-container{
    width:100%;
}
#log-in-psw{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    padding-left:10px;
    border: solid var(--primary) 1px;
}
#log-in-button-container{
    width: 100px;
    margin:auto;
    margin-top:10px;
}
#log-in-button{
    width: 100%;
    background-color: var(--primary);
}

#registration-link{
    text-decoration: none;
    color: var(--primary);
    font-size: 0.8rem;
}
#registration-link:hover{
    text-decoration: underline;
    cursor:pointer;
}
#log-in-link{
    text-decoration: none;
    color: var(--primary);
    font-size: 0.8rem;
}
#log-in-link:hover{
    text-decoration: underline;
    cursor:pointer;
}
#register-button-container{
    width: 110px;
    margin:auto;
    margin-top:10px;
}
#register-button{
    width: 100%;
    background-color: var(--primary);
}
#register-container{
    width: 400px;
    height: 470px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: solid var(--primary) 1px;
}
#register-form-title-container{
    text-align: center;
    margin-top:30px;
    margin-bottom:15px;
    width: 100%;
}
#register-form-container{
    width: 100%;
    text-align: center;
    margin-top:25px;
}
.register-field-container{
    width:100%;
    margin-bottom: 10px;
}
.register-field{
    border-radius: 5px;
    width: 250px;
    height: 35px;
    padding-left:10px;
    border: solid var(--primary) 1px;
}   
#store-input-container{
    width: 250px;
    margin: auto;
    text-align:left;
    color: var(--primary);
    padding-left: 3px;
    margin-bottom: 20px;
}
#store-input-container > label{
    width: 80px;
}
#store-input-container > select{
    width: 160px;
    height: 35px;
}




#home-page-container{
    width: 1000px;
    margin-top: 50px;
    display:flex;
    
}
#user-panel-container{
    width: 200px;
    height: 200px;
    border-radius: var(--border-radius);
    margin-right: 10px;
}
#user-panel-header-container{
    background-color: var(--primary);
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
#user-panel-content-container{
    padding-top:10px;
    background-color: rgba(26, 26, 26, 0.1);
    width: 100%;
    height: 160px;
    margin-top: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
#menu-panel-header-container{
    background-color: var(--primary);
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
#menu-panel-content-container{
    padding-top:10px;
    padding-left: 10px;
    background-color: rgba(26, 26, 26, 0.1);
    width: 100%;
    height: 230px;
    margin-top: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
#home-page-content-area-container{
    width: 800px;
    
}
#home-page-header-container{
    background-color: var(--primary);
    width: 800px;
    height: 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
.main-nav-link{
    display: inline-block;
    text-decoration: none;
    height: 100%;
    width: 150px;
    text-align: center;
    padding-top: 0.5rem;
    color: white;
    border-radius: var(--border-radius);
}
.main-nav-link:hover{
    background-color: var(--contrast);
    color:white;
    cursor:pointer;
}
#home-page-content-container{
    background-color: rgba(26, 26, 26, 0.1);
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
    border-radius: var(--border-radius);
    padding-top: 10px;
    box-shadow: var(--shadow);
}
#logout-href{ 
    margin:auto;
    width: 100px;
    text-align: center;
    margin-top: 20px;
}
#logout-href > a{ 
    text-decoration: none;
    color: var(--primary);
    font-size: 0.8rem;
    cursor:pointer;
}
#logout-href > a:hover{ 
    text-decoration: underline;
}
#home-wrap-div{
    display:flex;
    justify-content: center;
    height: 100vh;
    width:100%;
}
.user-panel-info-field{
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
}
.add-new-item-button{
    background-color: var(--primary);
    text-decoration: none;
    height: 30px;
    width: 170px;
    text-align: center;
    color: white;
    border:none;
    border-radius: var(--border-radius);
    font-size: 0.8rem;
    margin-bottom: 5px;
}
.add-new-item-button:hover{
    background-color: var(--contrast);
}
#add-new-item-button{
    margin-top: 40px;
}
#back-drop{
    position:absolute;
    height:100%;
    width:100%;
    background-color: rgba(26, 26, 26, 0.6);
    z-index: 2;
}
.hidden{
    display: none;
}
#add-new-item-form-container{
    z-index: 3;
    width: 400px;
    height: 500px;
    background-color: white;
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 100px;
    padding-top: 30px;
    border-radius: var(--border-radius);
}
.new-item-input-container{
    width: 300px;
    margin: auto;
    margin-top: 10px;
}
.new-item-input-container > *{
    width: inherit;
    height: inherit;
}
#new-item-comment-area{
    height: 200px;
    resize:none;
}
#boughIn-label{
    width: 50px;
}
#boughtIn{
    width: 245px;
}
#new-item-comment-area-container{
    margin-bottom: 20px;
}
#add-new-item-form-button-container{
    width: 100%;
    text-align: center;
}
#add-new-item-form-button{
    width: 80px;
    height: 40px;
}
#cancel-new-item-addition{
    width: 80px;
    height: 40px;
}
.single-item-container{
    width: 676px;
    height: 25px;
    margin-bottom: 2px;
    margin-left: 10px;
    border: solid 1px var(--primary);
    border-radius: 5px;
    font-size: 0.8rem;
    padding-top: 2px;
    display: inline-block;
}
.single-item-container:hover{
    background-color: rgba(26, 26, 26, 0.8);
    color: white;
}
#single-item-code-container{
    width: 130px;
    height: 100%;
    display: inline-block;
    padding-left: 5px;
    vertical-align: top;
    overflow:hidden;
    text-overflow: ellipsis;
}
#single-item-container-header{
    width: 100%;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#single-item-name-container{
    width: 300px;
    height: 100%;
    display: inline-block;
    padding-left: 5px;
    vertical-align: top;
    overflow:hidden;
    text-overflow: ellipsis;
}
#single-item-ammount-container{
    width: 80px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow:hidden;
    text-overflow: ellipsis;
}
#single-item-code-container-header{
    width: 130px;
    height: 100%;
    display: inline-block;
    padding-left: 5px;
}
#single-item-name-container-header{
    width: 300px;
    height: 100%;
    display: inline-block;
    padding-left: 5px;
}
#single-item-ammount-container-header{
    width: 80px;
    height: 100%;
    display: inline-block;
    padding-left: 5px;
}
#single-item-date-container{
    width: 150px;
    height: 100%;
    display: inline-block;
    padding-left: 5px;
    vertical-align: top;
    overflow:hidden;
    text-overflow: ellipsis;
}
#single-item-date-container-header{
    width: 150px;
    height: 100%;
    display: inline-block;
    padding-left: 5px;
}
.copy-to-clip-button{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: none;
    background-color: transparent;
}
.copy-to-clip-button > img{
    width: 20px;
    height: 20px;
    transition: ease-in-out 0.1s;
}
.copy-to-clip-button > img:hover{
    width: 23px;
    height: 23px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}
.active-link{
    background-color: var(--contrast);
}
#edit-item-form{
    height: 100%;
}
#edit-page-content-container{
    background-color: rgba(26, 26, 26, 0.1);
    width: 100%;
    min-height: 400px;
    margin-top: 10px;
    border-radius: var(--border-radius);
    padding-top: 10px;    
    
}
.item-edit-form-col{
    height: 300px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
#return-info-container{
    margin-left: 10px;
}
.eidt-item-line-container{
    display:inline-block;
    font-size: 0.8rem;
    margin-bottom: 5px;
}
.edit-item-label-field{
    width: 50px;
    height: 20px;
    padding-left: 5px;
}
.edit-item-input-field{
    width: 186px;
    height: 20px;
}
#author-comment-area{
    width: 240px;
    height: 100px;
    resize:none;
}

