:root{
    --primary: #191919;
    --secondary: #2d4263;
    --contrast: #C84B31;
    --compliment: #ecdbba;
    --border-radius: 5px;
}
*{
    font-family: sans-serif;
    
}
#artificial-body{
    display:flex;
    justify-content: center;
    height: 100vh;
    width:100%;
    align-items: center;
}
#log-in-container{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: solid var(--primary) 1px;
}
#log-in-form-title-container{
    text-align: center;
    margin-top:30px;
    margin-bottom:15px;
    width: 100%;
}
#log-in-form-container{
    width: 100%;
    text-align: center;
    margin-top:25px;
}
#log-in-id-container{
    width:100%;
    margin-bottom: 10px;
}
#log-in-id{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    padding-left:10px;
    border: solid var(--primary) 1px;
}   
#log-in-psw-container{
    width:100%;
}
#log-in-psw{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    padding-left:10px;
    border: solid var(--primary) 1px;
}
#log-in-button-container{
    width: 100px;
    margin:auto;
    margin-top:10px;
}
#log-in-button{
    width: 100%;
    background-color: var(--primary);
}

#registration-link{
    text-decoration: none;
    color: var(--primary);
    font-size: 0.8rem;
}
#registration-link:hover{
    text-decoration: underline;
}
#log-in-link{
    text-decoration: none;
    color: var(--primary);
    font-size: 0.8rem;
}
#log-in-link:hover{
    text-decoration: underline;
}
#register-button-container{
    width: 110px;
    margin:auto;
    margin-top:10px;
}
#register-button{
    width: 100%;
    background-color: var(--primary);
}
#register-container{
    width: 400px;
    height: 470px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: solid var(--primary) 1px;
}
#register-form-title-container{
    text-align: center;
    margin-top:30px;
    margin-bottom:15px;
    width: 100%;
}
#register-form-container{
    width: 100%;
    text-align: center;
    margin-top:25px;
}
.register-field-container{
    width:100%;
    margin-bottom: 10px;
}
.register-field{
    border-radius: 5px;
    width: 250px;
    height: 35px;
    padding-left:10px;
    border: solid var(--primary) 1px;
}   
#store-input-container{
    width: 250px;
    margin: auto;
    text-align:left;
    color: var(--primary);
    padding-left: 3px;
    margin-bottom: 20px;
}
#store-input-container > label{
    width: 80px;
}
#store-input-container > select{
    width: 160px;
    height: 35px;
}




#home-page-container{
    width: 1000px;
    margin-top: 50px;
    display:flex;
    
}
#user-panel-container{
    width: 300px;
    height: 200px;
    border-radius: var(--border-radius);
    margin-right: 10px;
}
#user-panel-header-container{
    background-color: var(--primary);
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    color: white;
    border-radius: var(--border-radius);
}
#user-panel-content-container{
    padding-top:10px;
    background-color: rgba(26, 26, 26, 0.1);
    width: 100%;
    height: 160px;
    margin-top: 10px;
    border-radius: var(--border-radius);
}
#home-page-content-area-container{
    width: 700px;
}
#home-page-header-container{
    background-color: var(--primary);
    width: 700px;
    height: 40px;
    border-radius: var(--border-radius);
}
#home-page-header-container > a{
    background-color: var(--primary);
    display: inline-block;
    text-decoration: none;
    height: 100%;
    width: 150px;
    text-align: center;
    padding-top: 0.5rem;
    color: white;
    border-radius: var(--border-radius);
}
#home-page-header-container > a:hover{
    background-color: var(--contrast);
}
#home-page-content-container{
    background-color: rgba(26, 26, 26, 0.1);
    width: 100%;
    min-height: 700px;
    margin-top: 10px;
    border-radius: var(--border-radius);
}
#logout-href{ 
    margin:auto;
    width: 100px;
    text-align: center;
    margin-top: 20px;
}
#logout-href > a{ 
    text-decoration: none;
    color: var(--primary);
    font-size: 0.8rem;
}
#logout-href > a:hover{ 
    text-decoration: underline;
}
#home-wrap-div{
    display:flex;
    justify-content: center;
    height: 100vh;
    width:100%;
}
.user-panel-info-field{
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
}
#add-new-item-button{
    float:right;
    background-color: var(--primary);
    text-decoration: none;
    height: 100%;
    width: 150px;
    text-align: center;
    color: white;
    border:none;
    border-radius: var(--border-radius);
}
#add-new-item-button:hover{
    background-color: var(--contrast);
}
#back-drop{
    position:absolute;
    height:100%;
    width:100%;
    background-color: rgba(26, 26, 26, 0.6);
    z-index: 2;
}
.hidden{
    display: none;
}
#add-new-item-form-container{
    z-index: 3;
    width: 400px;
    height: 500px;
    background-color: white;
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 100px;
    padding-top: 30px;
    border-radius: var(--border-radius);
}
.new-item-input-container{
    width: 300px;
    margin: auto;
    margin-top: 10px;
}
.new-item-input-container > *{
    width: inherit;
    height: inherit;
}
#new-item-comment-area{
    height: 200px;
    resize:none;
}
#boughIn-label{
    width: 50px;
}
#boughtIn{
    width: 245px;
}
#new-item-comment-area-container{
    margin-bottom: 20px;
}
#add-new-item-form-button-container{
    width: 100%;
    text-align: center;
}
#add-new-item-form-button{
    width: 80px;
    height: 40px;
}
#cancel-new-item-addition{
    width: 80px;
    height: 40px;
}