<%- include("../partials/header"); %>

<div id="log-in-container">
    <div id="log-in-form-title-container">
        <h1><b>Prisijunkite</b></h1>
    </div>
    <div id="log-in-form-container">
        <form action="/login" method="post">
            <div id="log-in-id-container" >
                <input id="log-in-id" type="text" name="id" placeholder="Vartotojas" autocomplete="off">
            </div>
            <div id="log-in-psw-container" >
                <input id="log-in-psw" type="password" name="password" placeholder="Slaptažodis">
            </div>
            <div id="log-in-button-container">
                <input id="log-in-button" type="submit" class="btn btn-dark" value="Prisijungti">
            </div>
        </form>

        <a id="registration-link" href="register">Registracija</a>
    </div>
</div>
 
<%- include("../partials/footer"); %>