<%- include("../partials/header"); %>
<div id="artificial-body">
    <div id="log-in-container" style="height:200px">
        <div id="log-in-form-title-container">
            <h1><b>Jūsų paskyra dar nepatvirtinta</b></h1>
        </div>
        <div id="log-in-form-container">
            <a id="registration-link" href="re-login">Grižti atgal</a>
        </div>
    </div>
</div>
 
<%- include("../partials/footer"); %>